

spring:
  application:
    name: pre-project-2-2-2

  datasource:
    url: jdbc:postgresql://localhost:5432/java_test_con
    name: java_test_con
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      mode: always

  jpa:
    properties:
      hibernate:
        default_schema: spring_app_tolya
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: true
        format_sql: true
        highlight_sql: true
        c3p0:
          min_size: 5
          max_size: 20
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true

  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

cars:
  limiter:
    max-value: 2
  sort:
    allowed: model

loan:
  min-revenue: 40000
  min-car-value: 1000000

debug: true
